<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button><a href="/api/v1/pepoles/">Pepoles</a></button><br></body>
    <h1>Gererics</h1>
    <button><a href="/api/v1/pepoleList/">List View</a></button><br>
    <button><a href="/api/v1/pepoleDetail/">Retrive View</a> </button><br>
    <button><a href="/api/v1/pepoles/create/">create view</a> </button><br>
    <button><a href="/api/v1/pepoles/">update View</a> </button><br>
    <button><a href="/api/v1/pepoles/">Distroy View</a> </button><br>
</body>
</html>